{% extends 'layout.html '%}

{% block content %}

<p class="text {% if noFlashcards%} alert alert-danger{% endif %}" >{{text}}</p>

{% if not noFlashcards %}
    {% for results in index %}
        {% for k,v in results.items() %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{k}}</h5>
                    <p class="card-text">{{v}}</p>
                    
                    <a href="{{url_for('delete')}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}

    {% endfor %}

        

{% endif %}

{% with message = get_flashed_messages() %}
{% for messages in message %}
    <p>{{messages}}</p>
{% endfor %}    

{% endwith %}


{% endblock %}