{% extends 'layout.html'%}


{% block content %}
 <!--Body content goes here-->
 <div class="content">
 <h3>Upload File Here</h3>
 <div >
     <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
         <fieldset>

            {% for message in get_flashed_messages() %}

            <div class="flash" style="color: green">{{ message }}</div>

            {% endfor %}
        

        {{form.hidden_tag()}}
        <p>
            
            {{form.file}}
            {% for error in form.file.errors %}
            <span class="error-message" > {{ error }} </span>
            {% endfor %}
        </p>

        <p> {{form.submit()}} </p>
        </fieldset>
     </form>
 </div>
</div>



{% endblock %}