<footer>
    <p>Get to know me</p>
    <div class="socials">
        <div class= 'Github' class="social-icons">
            <a href="">
            <img src="{{url_for('static', filename = 'images/social-media.png')}}" alt="Github" class="logo-icons">
            <p>Github</p>
            </a>
        </div>
        <div class='Portfolio' class="social-icons">
            <a href="">
            <img src="{{url_for('static', filename = 'images/user.png')}}" alt="Portfolio" class="logo-icons">
            <p>Portfolio</p>
            </a>
        </div>
        <div class="LinkedIn" class="social-icons">
            <a href="">
                <img src="{{url_for('static', filename= 'images/linkedin.png')}}" alt="LinkedIn" class="logo-icons">
                <p>LinkedIn</p>
            </a>
        </div>
    </div>
</footer>