<nav class = 'navbar'>
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link  {% if index %} active {% endif %}" href="{{url_for('index')}}" > Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if flashcards %} active {% endif %}" href="{{url_for('flashcards')}}">Flashcards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if login %} active {% endif %}" href="{{url_for('login')}}">Login</a>
            </li>
        </ul>
</div>

</nav>