<nav class='navbar navbar-expand-lg bg-body-tertiary' >
    <div class="container-fluid collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100" >
            <li class="nav-item">
                <a class="nav-link  {% if index %} active {% endif %}" href="{{url_for('index')}}"> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if flashcards %} active {% endif %}" href="{{url_for('flashcards')}}">Flashcards</a>
            </li>
            {% if not session['username'] %}
            <li class="nav-item">
                <a class="nav-link  {% if register %} active {% endif %}" href="{{url_for('register')}}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if login %} active {% endif %}" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>